.rounded-button {
  background-color: white;
  width: 50px;
  height: 50px;
  border-color:rgba(0, 0, 0, 0.268);
  font-size: larger;
  border-radius: 10px;
}

.screen {
  position: relative;
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
}

.res {
  position: absolute;
  bottom:0;
  right:0;
}

.enter-button {
  background-color: white;
  width: 105px;
  height: 50px;
  border-color:rgba(0, 0, 0, 0.268);
  font-size: larger;
  border-radius: 10px;
}

.buttons {
  width: 213px;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.clear-button {
  background-color: white;
  width: 213px;
  height: 50px;
  border-color:rgba(0, 0, 0, 0.268);
  font-size: larger;
  border-radius: 10px;
}

.screen {
  width: 213px;
  height: 60px;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
